<section class="payed section-padded">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h1 style="margin-bottom:30px;">Thanks, your purchase has been paid correctly</h1>
        <a href="<%=my_account_path%>" class="btn btn-red">View purchase</a>
      </div>
    </div>
  </div>
</section>
